.movieDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.movieInput {
  padding: 5px;
  background-color: aliceblue;
  color: black;
  font-weight: 600;
}

.searchBtn {
  color: black;
}